<h3 class="text-[black] text-[1.8rem] font-semibold p-2 text-center">Tabla de Servicios Turisticos</h3>

<div class="w-[90%] grid gap-8 mt-2 mx-auto my-0 ">

    <input class="bg-[white] w-60 p-2.5 border-2 border-solid border-[black] rounded-[5px]" type="text" placeholder="filtrar servicio..." #input (keyup)="buscar(input)">

    <table class="w-full mx-auto my-0 border-collapse border-spacing-0 rounded-[10px] border-2 border-solid border-[black];">
        <thead>
            <tr>
                <th class="bg-[#2c59e5] text-[white] border text-left px-[15px] py-2.5 border-solid border-[#ccc];">ID</th>
                <th class="bg-[#2c59e5] text-[white] border text-left px-[15px] py-2.5 border-solid border-[#ccc];">Nombre</th>
                <th class="bg-[#2c59e5] text-[white] border text-left px-[15px] py-2.5 border-solid border-[#ccc];">Categoría</th>
                <th class="bg-[#2c59e5] text-[white] border text-left px-[15px] py-2.5 border-solid border-[#ccc];">Precio</th>
            </tr>
        </thead>

        <tbody>
            @for (dato of datos; track $index) {
            <tr>
                <td class="bg-[white] border text-center p-3 border-solid border-[black]">{{ dato.id }}
                </td>
                <td class="bg-[white] border text-left p-3 border-solid border-[black]">{{ dato.nombre
                    }}
                </td>
                <td class="bg-[white] border text-left p-3 border-solid border-[black]">{{
                    dato.categoria
                    }}</td>
                <td class="bg-[white] border text-center p-3 border-solid border-[black]">${{
                    dato.precio }}
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>